secrets.yaml
*.key
*.pem
known_hosts
.ssh/

.storage/
.cloud/
.HA_VERSION
.cache/
.ha_run.lock
home-assistant.log*
home-assistant_v2.db*
OZW_Log.txt

zigbee2mqtt/configuration.yaml
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/state.json
zigbee2mqtt/database.db
zigbee2mqtt/database.db.tmp.*
zigbee2mqtt/log/
zigbee.db

custom_components/
www/community
blueprints/

tts/

adguard/conf/AdGuardHome.yaml
tailscale/

deps/
pycache/
*.pyc
.venv/

.vscode/
.DS_Store
Thumbs.db

*.tar
backups/