# secrets.yaml.example

pc_torre_mac: "AA:BB:CC:DD:EE:FF"
pc_torre_host: 192.168.1.XXX
pc_torre_broadcast: 192.168.1.255

apagar_pc_cmd: >
  ssh -i /config/.ssh/id_rsa
  -o StrictHostKeyChecking=no
  -o ConnectTimeout=5
  usuario@192.168.1.XXX 'sudo poweroff'
